*{
  margin: 0; 
  padding: 0;
  font-family: Montserrat;
}

html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: black;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: red;
}

marquee {
  color: gold;
  width: 80%;
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: 500;
}

/* Header & Navbar */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(45deg, #007BFF, #000);
  color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 100%;
  width: 100%;
  height: 50px;
  padding: 0 8px;
}

/* Logo Styling */
.logo {
  font-family: Montserrat;
  font-size: 1.2em;
  font-weight: bold;
  cursor: none;
}

/* Navigation Menu */
.nav-menu {
  position: relative;
  margin-right: 20px;
  }

.nav-menu .nav-toggle {
  font-size: 1.5em;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  transition: .3s ease;
}

.nav-menu .nav-toggle:hover {
  color: cyan;
}

.nav-menu ul {
  font-family: Montserrat;
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  padding: 5px 10px;
  transition: background 0.3s ease;
}

.nav-menu ul li a:hover {
  background: #555;
  border-radius: 5px;
}

/* Dropdown (Hidden by Default) */
.nav-menu ul.dropdown {
  display: none;
  position: absolute;
  top: 26px;
  right: 26px;
  height: 30vh;
  border-radius: 10px;
  flex-direction: column;
  background: linear-gradient(45deg, #007BFF, #000);
  width: 180px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-menu ul.dropdown li {
  text-align: center;
}

.nav-menu ul.dropdown li a {
  padding: 10px;
  display: block;
}

.nav-menu ul.dropdown li a:hover {
  color: cyan;
  background: linear-gradient(45deg, #007BFF, #000);
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-menu .nav-toggle {
    display: block;
  }
}
.head-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 110px;
  width: 100%;
  font-size: 1.2em;
  color: #fff;
}

/* Main Card */
 .container {
  text-align: center;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(90px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  --hover: #0ff;
  animation: btn 1s;
     box-shadow: 0 0 0 5em transparent;
     }

   @keyframes btn {
   0% {
   box-shadow: 0 0 0 0 var(--hover);
     transform: translateY(-5px);
   }
    }

.card h3 {
  text-align: center;
  font-size: 0.8em;
  margin-top: 1px;
}

/* qr page setup */
  .page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 100%;
    font-family: Montserrat, sans-serif;
  }
 h1 {
   color: #fff;
   text-align: center;
 }
/* button and input */
  input, select, button {
    all: unset;
    color: #fff;
    background-image: linear-gradient(45deg, #000, #00000080);
    text-align: center;
    filter: drop-shadow(#0ff 0 0 0);
    width: 75%;
    padding: 15px;
    font-weight: 600;
    border: 1px solid #fff;
    margin-bottom: 15px;
    border-radius: 30px;
    font-size: 100%;
    transition: all 50ms ease-out;
  }
  input:focus {
    background-image: linear-gradient(45deg, #000, #00000080);
    border: 1px solid #0ff;
    width: 80%;
    padding: 16px;
    filter: drop-shadow(#0ff 0 0 8px);
    transition: all 50ms ease;
    color: #fff;
    font-size: 110%;
    animation: input 0.5s;
    box-shadow: 0 0 0 3em transparent;
    --hover: #0ff;
  }
  
  input::placeholder {
    color: #0ff;
    font-weight: 600;
  }
  input:hover:focus::placeholder {
    color: transparent;
    transform: scale(1.5);
    transition: 0.3s ease;
  }

  @keyframes input {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
      }
    }
  
  button {
    background-image: linear-gradient(45deg, #1A2980, #26D0CE);
    text-align: center;
    color: white;
    border: none;
    width: 50%;
    padding: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 30px;
  }
  button:hover {
    background-image: linear-gradient(45deg, #1A2980, red);
  }
  
  #output {
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
  }
  
  #output:hover {
    border: 20px solid #fff;
    border-radius: 12px;
  }
  #downloadButton {
    display: none;
    width: 180px;
    height: 16px;
  }

/* footer */
.footer {
    background-color: #000;
    height: 120px;
    width: 100%;
    color: #b5b5b5;
    text-align: center;
    border-top: 1px dotted dimgrey;
}

.footer-content p {
    font-size: 12px;
    margin-top: 10px;
}

.icons {
  height: 1px;
  transition: 1s ease;
}
.icons a {
    color: #b5b5b5;
    margin: 0 8px;
    font-size: 20px;
    text-decoration: none;
}
.icons img {
  margin-bottom: 8px;
  
}

.icons a:hover {
    color: red;
}

.footer-bottom p {
    height: 1px;
    
}
.footer-bottom span {
    color: #e60023;
}

.icon {
  height: 50px;
  width: 50px;
}

/* QR code Scanner style */

#qr-reader {
  width: 320px;
  height: 435px;
  display: none;
}
  .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      color: #000;
      z-index: 1000;
      height: 360px;
      width: 75%;
    }
    .popup button {
      margin-top: 30px;
      width: 50%;
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
    
 /* input style */
    input[type="file"] {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      color: #fff;
      background-image: linear-gradient(45deg, #000, #00000080);
      filter: drop-shadow(#0ff 0 0 0);
      width: 70%;
      padding: 14px;
      font-weight: 600;
      border-radius: 30px;
      font-size: 100%;
    }
    input[type="file"]:focus {
    background-image: linear-gradient(45deg, #000, #00000080);
    border: 1px solid #0ff;
    width: 72%;
    padding: 16px;
    filter: drop-shadow(#0ff 0 0 8px);
    transition: all 50ms ease;
    color: #fff;
    font-size: 105%;
    animation: input 0.5s;
    box-shadow: 0 0 0 3em transparent;
    --hover: #0ff;
  }
  
  input[type="file"]::placeholder {
    color: #0ff;
    font-weight: 600;
  }
    label {
      font-weight: 600;
      color: grey;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      width: 75%;
      height: 26px;
    }